* {
    background:                     ;
    background-alt:                 #C6C7D1;
    foreground:                     #C6C7D1; 
    border:               			#2E496E;
    border-alt:               		#2D5692;
    selected:               		#666666;
    urgent:                         #55B3C6;
}

