/* colors */

* {
  al:    #c0c0c0;
  bg:    #040506FF;
  bg1:   #E0A36B;
  bg2:   #E0A36B;
  bg3:   #E0A36B;
  fg:    #E0A36BFF;
}

/* colors */

* {
  al:   #00000000;
  bg:   #232931FF;
  bga:  #263035FF;
  fg:   #EEEEEEFF;
  ac:   #4ECCA3FF;
  se:   #4ECCA3FF;
}
